/* Controlbar example */
.controlbar {
	background: url(graphics/controlbar4.gif);
	width: 167px;
	height: 34px;
}
.controlbar a {
	display: block;
	float: left;
	/*margin: 0px 0 0 4px;*/
	height: 27px;
}
.controlbar a:hover {
	background-image: url(graphics/controlbar4-hover.gif);
}
.controlbar .previous {
	width: 50px;
}
.controlbar .next {
	width: 40px;
	background-position: -50px 0;
}
.controlbar .highslide-move {
	width: 40px;
	background-position: -90px 0;
}
.controlbar .close {
	width: 36px;
	background-position: -130px 0;
}

